<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.repository.mapper.AgentNewHouseMapper">

	<select id="getNewHouse" resultType="java.util.Map">
		SELECT 
			u.`user_id` userId,
			u.`name` name,
			u.`gems` gems,
			h.`house_id` houseId
			<!-- ,h.`house_config` conf -->
		FROM 
			`t_users` u,
			`t_house` h
		WHERE 
			u.`user_id` = h.`house_owner` 
			AND `consume` > 0
			<if test="userId != null">
				AND h.`house_owner` = #{userId}
			</if>
			<if test="houseId != null">
				AND h.`house_id` = #{houseId}
			</if>
			<if test="gameType != null">
				AND h.`house_game_type` = #{gameType}
			</if>
		ORDER BY h.`create_time` DESC
	</select>

</mapper>
